{% extends 'base/base.html' %}
{% block title %} Reset Confirm | EngiHub{% endblock %}
{% block content %}
  {% if validlink %}
    <h3 style="margin: 20px">Change password</h3>
    <form class="form-horizontal" style="margin: 20px" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Change password</button>
    </form>
  {% else %}
    <p style="margin: 20px">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset <a href="{% url 'password_reset' %}">Here</a>.
    </p>
  {% endif %}
{% endblock %}