nav {
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.20);
}

/*

CARDS

*/

.wrapper {
        display: flex;
}

#sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
}


.panel {
    box-shadow: 0 2px 0 rgba(0,0,0,0.075);
    border-radius: 0;
    border: 0;
    margin-top: 10px;
    background-color: #eee;
}

.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.bg-primary, .bg-primary a {
    color: #fff;
}
.bg-primary {
    background-color: #5fa2dd;
}
.bg-success, .bg-success a {
    color: #fff;
}
.bg-success {
    background-color: #91c957;
}

.widget-header {
    padding: 15px 15px 50px 15px;
    min-height: 125px;
    position: relative;
    overflow: hidden;
}
.panel .panel-footer, .panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.widget-body {
    padding: 50px 15px 15px;
    position: relative;
}
.panel-body {
    padding: 25px 20px;
}
.pad-all {
    padding: 15px;
}
.widget-img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
}
.img-md {
    width: 64px;
    height: 64px;
}
.widget-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.img-border-light {
    box-shadow: 0 0 0 4px #fff;
}
.img-border {
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}
.mar-no {
    margin: 0 !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
.text-muted, a.text-muted:hover, a.text-muted:focus, a.text-muted:focus {
    color: #606060;
}
.mar-btm {
    margin-bottom: 15px;
}
.pad-ver {
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-btm {
    padding-bottom: 15px;
}
.pad-top {
    padding-top: 8px;
}
.small, small {
    font-size: 65%;
}
.text-lg {
    font-size: 75%;
}

.files > *  {
margin-top: 10px;
}

.form-group > * {
padding: 0px;
margin : 0px;
width: 100%;
border: 0px;
}

.file-card {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 0px !important;
}

.file-table {
width: 100%;
    height: 100%;

}

.full-row {
height: 100%;
    padding: 10px 10px 10px 25px;

}

.clicked {
color: #118cd2;
}

.file-data {
padding: 10px;
}

.file-image {
    width : 100%;
}

.post-comment {
    padding: 10px;

}

.submit-btn {
text-align: right;
}



.comment-author {
    padding: 10px;
    color: #fff;
    background-color: #F44336;
    font-size: 1.1em;
}
span.date {
float: right;
}

.comment-content {
padding: 10px;
}

.del-comment {
padding: 10px;
}

@media screen and (max-width: 600px) {
    .card {
    width: 100%;
    }

    .file-btn {
    padding: 10px;
    }

    .file-btn > * {
    width: 100%;
    display : block;
    margin: 2px auto;
    }


}
