

{% extends 'dashboard/base-login.html' %}
{% block title %}Dashboard | EngiHub{% endblock %}
{% load static staticfiles %}

    {% block stylesheets %}

    <link rel="stylesheet" href={% static "dashboard/dash.css" %}>

    <!-- toast style -->
    <style>
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
</style>

    {% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

    <script>
        new Clipboard('.share_button');
    </script>

    <!-- Toast function -->
    <script>
        function showToast() {
        var x = document.getElementById("snackbar")
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);}
    </script>

    {% for afile in files %}
        <div class="mdl-card mdl-shadow--2dp mdl-card--horizontal">
            <div class="mdl-card__media">
                <img src="{% static "icons/file-icon-7890.png" %}" alt="img">
            </div>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ afile.name }}</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Uploaded By: {{ afile.uploader }}<br>
                Uploaded On: {{ afile.upload_time }}<br>
                File Size: {{ afile.size }} {{ afile.size_postfix }} <br><br>
                Description:<br>&nbsp;&nbsp;&nbsp;&nbsp;{{ afile.desc }}
            </div>
            <div class="mdl-card__actions mdl-card--border">

                <span style="font-size: large">{{ afile.points }} Points</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'main:like' afile.id %}" id="like{{ afile.pk }}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                    <i class="material-icons">thumb_up</i>
                </a>
                <div class="mdl-tooltip" data-mdl-for="like{{ afile.pk }}">Like</div>
                &nbsp;&nbsp;
                <span>{{ afile.lcount }}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'main:dislike' afile.id %}" id="dlike{{ afile.pk }}" class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect">
                    <i class="material-icons">thumb_down</i>
                </a>
                <div class="mdl-tooltip" data-mdl-for="dlike{{ afile.pk }}">Dislike</div>
                &nbsp;&nbsp;
                <span>{{ afile.dlcount }}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{% url 'main:file_detail' afile.pk %}" >Details</a>

            </div>

            <button class="mdl-card__menu mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
                <li class="share_button" onclick="showToast()" data-clipboard-text="https://engihub.herokuapp.com/detail/{{ afile.id }}"><a class="mdl-menu__item">Share</a></li>
                <li><a class="mdl-menu__item" href="{% url 'main:file_download' path=afile.file %}">Download</a></li>
                <li><a href="{% url 'main:file_delete' id=afile.id %}"
                        class="mdl-menu__item"
                        {% ifnotequal afile.uploader_id request.user.id %}
                        disabled
                        {% endifnotequal %}>
                    Delete</a></li>
                <li><a class="mdl-menu__item">Report</a></li>
            </ul>
        </div>
        <br>
    {% endfor %}

    <!-- Toast Text -->
    <div id="snackbar">Copied to clipboard!</div>
{% endblock %}


